***Sam Cressman Capstone Project: Shelter Animal Outcomes***

***Help improve outcomes for shelter animals***

***Capstone inspiration:*** [Kaggle](https://www.kaggle.com/c/shelter-animal-outcomes)

[Intake data (pulled 6/25/18)](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) <br>
[Outcome data (pulled 6/25/18)](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238) <br>

"Every year, approximately 7.6 million companion animals end up in US shelters. Many animals are given up as unwanted by their owners, while others are picked up after getting lost or taken out of cruelty situations. Many of these animals find forever families to take them home, but just as many are not so lucky. 2.7 million dogs and cats are euthanized in the US every year. <br>

Using a dataset of intake information including breed, color, sex, and age from the Austin Animal Center, we're asking Kagglers to predict the outcome for each animal. <br>

We also believe this dataset can help us understand trends in animal outcomes. These insights could help shelters focus their energy on specific animals who need a little extra help finding a new home. We encourage you to publish your insights on Scripts so they are publicly accessible." <br>

***Post-Cleaning Column by Column Summary:***

***Intake Time (from intakes)***: time animal entered Austin shelter system (DateTime object but split into day of month, day of week, month, and year: will dummy)

***Intake Type (from intakes)***: type of intake: mainly strays, will dummy

***Intake Condition (from intakes)***: description of animal upon entering Austin shelter system: vast majority are normal, will dummy

***Sex upon Intake (from intakes)***: sex of animal (mainly refers to if the animal has been neutered/spayed or not): mainly intact males/females (not neutered/spayed), will dummy

***Outcome Time (from outcomes)***: time animal left Austin shelter system (DateTime object but split into day of month, day of week, month, and year: will dummy)

***Date of Birth (from outcomes)***: converting from object to DateTime

***Outcome Type (from outcomes)***: target for modeling (what we are attempting to predict): mainly adoption, transfer, will map to numeric values

***Outcome Subtype (from outcomes)***: approximately half null: will keep column for EDA/visualization purposes and to further examine Outcome Type but will not include in models

***Animal Type (from outcomes)***: 5 types (mainly Dog and Cat) but also Bird, Livestock, and Other (Other contains 99 different breeds), will dummy

***Sex upon Outcome (from outcomes)***: sex of animal at outcome (mainly refers to if the animal has been neutered/spayed or not): mainly neutered/spayed animals, will dummy

***Breed (from outcomes)***: running through Natural Language Processing Count Vectorizer to create/combine Breed features (2212 unique breed combinations pre-cleaning) and address cleanliness issues. Creating a new dataframe of just the top 100 2-3 word length features from Breed, viewing that against original breed value counts to create buckets ("dummy" breed variables)

***Color (from outcomes)***: running through Natural Language Processing Count Vectorizer to create/combine Color features (539 unique color combinations pre-cleaning). Creating a new dataframe of just the top 50 1-2 word length features from Color, concating with animals dataframe. If two colors: first color is primary color (assuming from original dataframe inputs)

***has_name (from outcomes)***: Over 25,000 null values: transforming into "1" if animal contains a name, 0 otherwise

***Age at Intake (Years) (created using intakes and outcomes)***: age in years: (Intake Time - Date of Birth) / 365

***Age at Outcome (Years) (from outcomes)***: age in years: (Outcome Time - Date of Birth) / 365

***Length of Time in Shelter (Days) (created using intakes and outcomes)***: outcome time - intake time

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# intakes provides animal data when an animal enters the Austin shelter system
# outcomes provides animal data when an animal departs the Austin shelter system

intakes = pd.read_csv("./Austin_Animal_Center_Intakes.csv")
outcomes = pd.read_csv("./Austin_Animal_Center_Outcomes.csv")

***Merging Intakes and Outcomes***

In [3]:
# After examining intakes/outcomes, keeping the following columns from intakes

intakes_updated = intakes[["Animal ID", "DateTime", "Intake Type", "Intake Condition", "Sex upon Intake"]]

In [4]:
# Renaming intakes DateTime for clarity since outcomes has the same column/same column name

intakes_updated = intakes_updated.rename(columns={"DateTime": "Intake Time"})

In [5]:
# About 8000 duplicate values in intakes_updated

intakes_updated["Animal ID"].nunique(), intakes_updated.shape;

In [6]:
# About 8000 duplicate values in outcomes

outcomes["Animal ID"].nunique(), outcomes.shape;

In [7]:
# Dropping duplicate values: each animal will have one intake and one outcome

intakes_updated.drop_duplicates(subset=["Animal ID"], inplace = True)
outcomes.drop_duplicates(subset=["Animal ID"], inplace = True)

In [8]:
# Merging intakes and outcomes on "Animal ID" since "All animals receive a unique Animal ID during intake"
# (from above City of Austin Data website)

animals = pd.merge(intakes_updated, outcomes, on = "Animal ID")

In [9]:
# New DataFrame has 75493 unique animal intakes/outcomes

animals["Animal ID"].nunique(), animals.shape;

***Quick Data Cleaning EDA***

In [10]:
# All object columns

# animals.info()

In [11]:
animals.head();

In [12]:
animals.shape;

***Animal ID***

In [13]:
# Post-merge: dropping column

In [14]:
animals.drop(columns=["Animal ID"], axis = 1, inplace=True)

***Name***

In [15]:
# Converting into 1 if name, 0 otherwise due to high number of null values

animals["Name"].isnull().sum();

In [16]:
# We see some names somewhat frequently

animals["Name"].value_counts()[0:10];

In [17]:
animals["has_name"] = animals['Name'].notnull().astype(int)

In [18]:
# Dropping Name column

animals.drop(columns=["Name"], axis = 1, inplace=True)

***DateTime (Intake Time)***

In [19]:
# Renamed pre-merge from DateTime to Intake Time to avoid confusion

animals["Intake Time"] = pd.to_datetime(animals["Intake Time"])

In [20]:
# Splitting out intake day, weekday, month, year, will dummy

animals["Intake Day (Month)"] = animals["Intake Time"].dt.day

animals["Intake Day (Week)"] = animals["Intake Time"].dt.weekday

animals["Intake Month"] = animals["Intake Time"].dt.month

animals["Intake Year"] = animals["Intake Time"].dt.year

***DateTime (Outcome Time)***

In [21]:
# DateTime is time of outcome: will rename for clarity:

animals = animals.rename(columns={"DateTime": "Outcome Time"})

In [22]:
# Converting to DateTime

animals["Outcome Time"] = pd.to_datetime(animals["Outcome Time"])

In [23]:
# Splitting out outcome day, weekday, month, year, will dummy

animals["Outcome Day (Month)"] = animals["Outcome Time"].dt.day

animals["Outcome Day (Week)"] = animals["Outcome Time"].dt.weekday

animals["Outcome Month"] = animals["Outcome Time"].dt.month

animals["Outcome Year"] = animals["Outcome Time"].dt.year

***MonthYear***

In [24]:
# Dropping column: exactly the same as DateTime (now Outcome Time) from outcomes DataFrame

animals.drop(columns = "MonthYear", axis = 1, inplace = True)

***Intake Type***

In [25]:
# Vast majority of intakes are strays, will dummy

animals["Intake Type"].value_counts();

In [26]:
# No null values

animals["Intake Type"].isnull().sum();

***Intake Condition***

In [27]:
# Vast majority of intakes are normal, will dummy

animals["Intake Condition"].value_counts();

In [28]:
# 0 null values

animals["Intake Condition"].isnull().sum();

***Sex upon Intake***

In [29]:
# Mainly intact males/females, will dummy

animals["Sex upon Intake"].value_counts();

In [30]:
# 1 null value: dropping

animals["Sex upon Intake"].isnull().sum()

animals.dropna(subset = ["Sex upon Intake"], inplace = True)

***Date of Birth***

In [31]:
# Converting from object to DateTime

animals["Date of Birth"] = pd.to_datetime(animals["Date of Birth"])

***Age at Intake (Years)***

In [32]:
# Age in years: (Intake Time - Date of Birth) / 365

animals["Age at Intake (Years)"] = animals["Intake Time"] - animals["Date of Birth"]

In [33]:
# Isolating days

animals["Age at Intake (Years)"] = animals["Age at Intake (Years)"].dt.days

In [34]:
# Dividing days by 365 to get float in years value

animals["Age at Intake (Years)"] = animals["Age at Intake (Years)"] / 365

***Age at Outcome (Years)***

In [35]:
# Creating a new column subtracting Date of Birth and Time of Outcome 
# to get a time in years (then will drop Age upon Outcome)

animals["Age at Outcome (Years)"] = animals["Outcome Time"] - animals["Date of Birth"]

In [36]:
# Isolating days

animals["Age at Outcome (Years)"] = animals["Age at Outcome (Years)"].dt.days

In [37]:
# Dividing days by 365 to get float in years value

animals["Age at Outcome (Years)"] = animals["Age at Outcome (Years)"] / 365

In [38]:
# Dropping old column

animals.drop(columns = "Age upon Outcome", axis = 1, inplace = True)

***Length of Time In Shelter (Years)***

In [39]:
# Length of time in shelter (years): outcome time - intake time

animals["Length of Time In Shelter (Days)"] = animals["Outcome Time"] - animals["Intake Time"]

In [40]:
# Dividing days by 365 to get float in years value

animals["Length of Time In Shelter (Days)"] = animals["Length of Time In Shelter (Days)"].dt.days

***Outcome Type***

In [41]:
# Outcome Type: target for modeling (what we are attempting to predict): mainly adoption, transfer, will be converting
# to numeric for modeling

animals["Outcome Type"].unique();

In [42]:
# Mainly adoption, transfer

animals["Outcome Type"].value_counts();

In [43]:
# 12 null values: dropping those rows

animals["Outcome Type"].isnull().sum()

animals.dropna(subset = ["Outcome Type"], inplace = True)

***Outcome Subtype***

In [44]:
# Outcome Subtype: approximately half null: will keep column for EDA/visualization purposes 
# and to further examine against Outcome Type but will not include in modeleling

animals["Outcome Subtype"].value_counts();

***Animal Type***

In [45]:
# 5 types (mainly Dog and Cat) but also Bird, Livestock, and Other 
# (Other contains 99 different species)(will dummy column)

animals["Animal Type"].unique();

In [46]:
# Mainly dogs and cats

animals["Animal Type"].value_counts();

In [47]:
# 99 unique "Other" breeds

animals[animals["Animal Type"] == "Other"]["Breed"].nunique() 
animals[animals["Animal Type"] == "Other"]["Breed"].unique();

***Sex upon Outcome***

In [48]:
# Will dummy

animals["Sex upon Outcome"].unique();

In [49]:
# Mainly neutered males and spayed females

animals["Sex upon Outcome"].value_counts();

In [50]:
# One null value (dropping), many Unknown values

animals["Sex upon Outcome"].isnull().sum()

animals.dropna(subset = ["Sex upon Outcome"], inplace = True)

In [51]:
# 3989 of 7207 Unknown Sex upon Outcome are "Other" Animal Type

mask = (animals["Sex upon Outcome"] == "Unknown") & (animals["Animal Type"] == "Other")
len(animals[mask]);

***Breed***

[Count Vectorizer Documentation](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [52]:
# Running through Natural Language Processing Count Vectorizer to create/combine Breed features (2223 unique breeds) 
# and address cleanliness issues

In [53]:
# All over the place with spelling/variation

animals["Breed"].value_counts();

# animals["Breed"].value_counts().to_dict()

In [54]:
# 2212 "unique" Breeds

animals["Breed"].nunique();

In [55]:
# Cleaning

animals["Breed"] = animals["Breed"].str.replace("mix", "", case = False)
animals["Breed"] = animals["Breed"].str.replace("/", " ")
animals["Breed"] = animals["Breed"].str.rstrip()

In [56]:
# Setting up column/text to Vectorize

corpus = animals["Breed"].tolist()
corpus[0:10];

In [57]:
# Count Vectorizer: creating a new dataframe of just the top 100 2-3 word length features from Breed

cvec = CountVectorizer(analyzer = "word", ngram_range = (2, 3), lowercase = True, max_features = 100)
cvec.fit(corpus)

df_breeds_vec = pd.DataFrame(cvec.transform(corpus).todense(), columns = cvec.get_feature_names())

In [58]:
# Quick check

df_breeds_vec.shape, animals.shape;

In [59]:
# Quick check

df_breeds_vec.head();

In [60]:
# Quick check

df_breeds_vec.columns;

In [61]:
# Using above Count Vectorized top 100 breeds as well as above value counts to create breed "buckets"

# Bucketing into 54 breeds

breeds = ["husky", "pit", "bulldog", "shorthair", "staffordshire", "terrier", "shepherd",
                 "australian cattle", "kelpie", "hound", "black tan","blue lacy", "collie",
                 "labrador", "retriever","welsh", "chihuahua", "dachshund", "sharpei", "chow chow",
                 "spaniel", "doberman","longhair", "medium", "english", "flat coat",
                 "dane", "pyrenees", "guinea pig", "lhasa apso",
                 "maine", "pinscher", "schnauzer", "mouth cur",
                 "heeler", "rabbit", "ridgeback", "shih tzu", "poodle",
                 "bat", "raccoon", "catahoula", "beagle", "boxer", "siamese", "pointer",
                 "rottweiler", "opossum", "maltese", "pug", "pomeranian", "skunk", "mastiff", "manx"]

for breed in breeds:
    animals[breed] = animals["Breed"].str.contains(breed, case=False).astype(int)
    
len(breeds);

***Color***

In [62]:
# Running through Natural Language Processing Count Vectorizer to 
# create/combine Color features (538 unique color combinations) (assuming first color is primary color)

In [63]:
# 13 null values: need to drop

# animals["Color"].isnull().sum()

# animals.dropna(subset = ["Color"], inplace = True)

In [64]:
# 539 unique color combinations

animals["Color"].nunique();

In [65]:
# Cleaning

animals["Color"] = animals["Color"].str.replace("/", " ")

In [66]:
# Colors are repeated in different ways many times (ex: Black White vs. Black vs. Black Brown vs. Brown Black)

animals["Color"].value_counts();

In [67]:
# Setting up column/text to Vectorize

color_corpus = animals["Color"].tolist()
color_corpus[0:10];

In [68]:
# Count Vectorizer: creating a new dataframe of just the top 50 1-2 word length features from Color

color_cvec = CountVectorizer(analyzer = "word", ngram_range = (1, 2), lowercase = True, max_features = 50)
color_cvec.fit(color_corpus)

df_color_vec = pd.DataFrame(color_cvec.transform(color_corpus).todense(), columns = color_cvec.get_feature_names())

In [69]:
# Quick check

df_color_vec.columns;

In [70]:
# Avoiding any potential concating issues

animals.reset_index(drop = True, inplace = True)
df_color_vec.reset_index(drop = True, inplace = True)

In [71]:
# Concating to animals

animals = pd.concat([animals, df_color_vec], axis = 1)

In [72]:
# Below is method of examing the top 20 colors from value counts and manually creating dummy columns

# colors = ["black", "white", "brown", "tabby", "tan", "orange", "blue", "tricolor", "calico", "brindle", "tortie",
#           "torbie", "red", "chocolate", "gray", "yellow", "green", "silver", "gold", "cream"]

# for color in colors:
#     animals[color] = animals["Color"].str.contains(color, case=False).astype(int)
    
# animals.drop(columns=["Color"], axis = 1, inplace=True)

***Pre-Dummy/Numeric Saving to CSV***

In [73]:
# animals.to_csv("cleaned_animals_pre_numeric_pre_dummies", index = False)

***Dummy/Numeric Columns***

In [74]:
# Converting Outcome Type to 0 if unsuccessful outcome and 1 if successful outcome (animal has left shelter system)

outcome_dict = {"Transfer": 1, "Adoption":1 , "Return to Owner": 1, "Euthanasia":0, "Rto-Adopt":1, "Disposal":0,
             "Died":0, "Missing":0, "Relocate":1}

animals["Outcome Type"] = animals["Outcome Type"].map(outcome_dict)

In [79]:
animals = pd.get_dummies(data = animals, columns = ["Intake Type", "Intake Condition", "Sex upon Intake", "Animal Type", "Sex upon Outcome",
"Intake Day (Month)", "Intake Day (Week)", "Intake Month","Intake Year", "Outcome Day (Month)",
"Outcome Day (Week)", "Outcome Month", "Outcome Year"])

***Saving Dummy/Numeric Columns to CSV***

In [80]:
# animals.to_csv("cleaned_animals_numeric_dummies", index = False)