In [1]:
import pandas as pd

In [2]:
animals = pd.read_csv("Austin_Animal_Center_Outcomes.csv")

Considering cleaning and then splitting into 3 dfs for Dogs, Cats, and Other (and modeling on each Animal Type)

***Animal ID***: likely will drop column (acts as an index)

***Name***: dropping column: over 25000 null while the highest actual name is repeated only 405 times

***DateTime***: time of outcome: object type, will convert to DateTime and likely split out and dummy date/month/year variables

***MonthYear***: dropping column (exactly the same as DateTime)

***Date of Birth***: converting to DateTime

***Outcome Type***: target, will drop 12 null values, will utilize to_categorical since multi-class classification

***Outcome Subtype***: approximately half null: will keep column for EDA purposes and to further examine Outcome Type but may not include in models

***Animal Type***: 5 types (mainly Dog and Cat) but also Bird, Livestock, and Other (Other contains 99 different species). Will likely just use Dog and Cat to model but will use all Animal Type for EDA

***Sex upon Outcome***: Neutered Male, Spayed Female, Intact Male, Intact Female, Unknown (mainly Animal Type Other)

***Age upon Outcome***: creating a new column subtracting Date of Birth and Time of Outcome to get a time in days (then will drop Age Outcome since this column contains weeks, months, years)

***Breed***: TBD

***Color***: TBD

In [3]:
animals.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,A746650,Rose,04/07/2017 11:58:00 AM,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,A750122,Happy Camper,05/24/2017 06:36:00 PM,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black

In [4]:
animals.shape

(84246, 12)

In [5]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84246 entries, 0 to 84245
Data columns (total 12 columns):
Animal ID           84246 non-null object
Name                58329 non-null object
DateTime            84246 non-null object
MonthYear           84246 non-null object
Date of Birth       84246 non-null object
Outcome Type        84234 non-null object
Outcome Subtype     38552 non-null object
Animal Type         84246 non-null object
Sex upon Outcome    84243 non-null object
Age upon Outcome    84239 non-null object
Breed               84246 non-null object
Color               84246 non-null object
dtypes: object(12)
memory usage: 7.7+ MB

In [6]:
animals.isnull().sum()

Animal ID               0
Name                25917
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type           12
Outcome Subtype     45694
Animal Type             0
Sex upon Outcome        3
Age upon Outcome        7
Breed                   0
Color                   0
dtype: int64

***Animal ID***

In [7]:
# Column acts as an index: dropping column

In [8]:
animals.drop(columns=["Animal ID"], axis = 1, inplace=True)

***Name***

In [9]:
animals["Name"].isnull().sum()

25917

In [10]:
# Noticed many names contain an "*": replacing "*" values from Name to see if top name values increase

animals["Name"] = animals["Name"].str.replace("*", "")

In [11]:
animals["Name"].value_counts()[0:10]

Max         405
Bella       401
Charlie     315
Luna        312
Daisy       306
Rocky       277
Princess    261
Lucy        258
Buddy       238
Coco        219
Name: Name, dtype: int64

In [12]:
# 25917 null values, next highest name has only 405 entries: dropping column

In [13]:
animals.drop(columns=["Name"], axis = 1, inplace=True)

***DateTime***

In [14]:
# Converting to DateTime object

animals["DateTime"] = pd.to_datetime(animals["DateTime"]) # , format = "%d/%m/%Y")
# animals.info()

# Renaming:

animals = animals.rename(columns={"DateTime": "Time of Outcome"})

***MonthYear***

In [15]:
# Dropping column: exactly the same as DateTime

animals.drop(columns = "MonthYear", axis = 1, inplace = True)
animals.head()

,Time of Outcome,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,2017-01-11 18:17:00,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,2016-11-13 13:38:00,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,2016-02-24 14:42:00,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,2017-04-07 11:58:00,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,2017-05-24 18:36:00,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black

***Date of Birth***

In [16]:
# Converting from object to DateTime

animals["Date of Birth"] = pd.to_datetime(animals["Date of Birth"])

***Outcome Type***

In [17]:
# Outcome Type: target for modeling (what we are attempting to predict)

animals["Outcome Type"].unique()

array(['Adoption', 'Return to Owner', 'Euthanasia', 'Transfer',
       'Rto-Adopt', 'Died', 'Disposal', 'Missing', 'Relocate', nan],
      dtype=object)

In [18]:
animals["Outcome Type"].isnull().sum()

12

In [19]:
animals.shape

(84246, 9)

In [20]:
# 12 null values: dropping those rows

animals.dropna(subset = ["Outcome Type"], inplace = True)

In [21]:
animals.shape

(84234, 9)

In [22]:
animals.head()

,Time of Outcome,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,2017-01-11 18:17:00,2016-03-07,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,2016-11-13 13:38:00,2011-07-14,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,2016-02-24 14:42:00,2014-02-24,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,2017-04-07 11:58:00,2016-04-06,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,2017-05-24 18:36:00,2017-04-08,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black

In [23]:
animals["Outcome Type"].value_counts()

Adoption           35694
Transfer           25205
Return to Owner    15494
Euthanasia          6507
Died                 740
Disposal             317
Rto-Adopt            210
Missing               50
Relocate              17
Name: Outcome Type, dtype: int64

***Outcome Subtype***

In [24]:
mask = animals[animals["Outcome Subtype"] == "Suffering"]
mask;

***Animal Type***

In [25]:
# Need to add "Bird" and "Livestock" to "Other" to simplify

animals["Animal Type"].unique()

array(['Cat', 'Dog', 'Other', 'Bird', 'Livestock'], dtype=object)

In [26]:
animals["Animal Type"].value_counts()

Dog          47905
Cat          31282
Other         4671
Bird           366
Livestock       10
Name: Animal Type, dtype: int64

In [27]:
# animals.replace(to_replace = "Bird", value = "Other", inplace = True)
# animals.replace(to_replace = "Livestock", value = "Other", inplace = True)

In [28]:
animals["Animal Type"].value_counts()

Dog      47905
Cat      31282
Other     5047
Name: Animal Type, dtype: int64

In [29]:
animals[animals["Animal Type"] == "Other"]["Breed"].unique()

array(['Raccoon Mix', 'Bat Mix', 'Squirrel Mix', 'Bat', 'Californian',
       'Opossum Mix', 'Squirrel', 'Chinchilla-Stnd Mix', 'Guinea Pig Mix',
       'Hamster Mix', 'Skunk', 'Skunk Mix', 'Armadillo Mix', 'Rat',
       'Raccoon', 'Rabbit Lh Mix', 'Rabbit Sh Mix', 'Fox Mix', 'Rat Mix',
       'Guinea Pig', 'Opossum', 'Chicken Mix', 'Dove Mix', 'Snake Mix',
       'Muscovy', 'New Zealand Wht Mix', 'American Sable', 'Chicken',
       'Californian Mix', 'Himalayan Mix', 'Checkered Giant Mix',
       'Ferret', 'Lizard Mix', 'Duck Mix', 'Grackle Mix', 'Turkey Mix',
       'Sparrow Mix', 'Britannia Petit Mix', 'Hotot Mix', 'Fox',
       'Rabbit Lh', 'Parrot', 'Dove', 'Coyote Mix', 'Parakeet Mix',
       'Parakeet', 'English Spot Mix', 'Rex Mix', 'Muscovy Mix', 'Lizard',
       'Lionhead Mix', 'Bantam Mix', 'Peafowl Mix', 'Duck',
       'Cockatoo Mix', 'Lark Mix', 'Rabbit Sh', 'Hawk', 'Pig Mix',
       'Coyote', 'Tortoise Mix', 'Cockatoo', 'Dutch Mix',
       'Netherlnd Dwarf Mix', 'Mockingbird Mix', 'Havana Mix',
       'Turtle Mix', 'Vulture Mix', 'Cold Water', 'Cockatiel Mix',
       'Owl Mix', 'Lop-English Mix', 'Grackle', 'Lop-Holland Mix',
       'Pigeon', 'Lop-Mini', 'Otter Mix', 'Hamster', 'Snake',
       'Ferret Mix', 'Pigeon Mix', 'Chickadee Mix', 'Bluebird Mix',
       'Bobcat Mix', 'Turtle', 'Netherlnd Dwarf', 'Mouse Mix',
       'Gerbil Mix', 'Tarantula', 'Flemish Giant', 'Dutch/Angora-Satin',
       'Prairie Dog Mix', 'Rhode Island Mix', 'Parrot Mix', 'Guinea',
       'Lionhead', 'American Sable Mix', 'Bunting', 'Cold Water Mix',
       'English Spot', 'Guinea Mix', 'Tortoise', 'Quaker Mix',
       'Harlequin Mix', 'Heron Mix', 'Goat Mix', 'Rex-Mini',
       'Angora-English Mix', 'Potbelly Pig Mix', 'Nuthatch Mix',
       'Lop-Mini Mix', 'Cottontail Mix', 'Chinchilla Mix', 'Rex-Mini Mix',
       'Cinnamon', 'Tropical Mix', 'Cockatiel', 'Chinchilla-Amer Mix',
       'Armadillo', 'Conure', 'Crow Mix', 'Heron', 'Catbird Mix',
       'Jersey Wooly Mix', 'Deer Mix', 'Peafowl', 'Finch', 'American Mix',
       'Polish Mix', 'Lop-Holland', 'Finch Mix', 'Budgerigar', 'Hedgehog',
       'Quaker', 'Song Bird Mix', 'Lovebird Mix', 'Rex-Mini/Lop-English',
       'African Mix', 'Cinnamon Mix', 'Pheasant Mix', 'Dutch/Rabbit Sh',
       'Snake/Snake', 'Frog', 'Ringtail Mix', 'Lop-Amer Fuzzy Mix',
       'Leghorn Mix', 'Hawk Mix', 'Miniature', 'Conure Mix',
       'Rabbit Sh/Lop-Mini', 'Rex', 'Wren Mix', 'Mockingbird', 'American',
       'Goose Mix', 'Barred Rock Mix', 'Angora-French Mix', 'Sparrow',
       'Owl', 'Silver Mix', 'Dutch', 'Sugar Glider', 'Belgian Hare',
       'Silkie Mix'], dtype=object)

***Sex upon Outcome***

In [30]:
# One null value, many Unknown values

animals["Sex upon Outcome"].isnull().sum()

1

In [31]:
animals["Sex upon Outcome"].unique()

array(['Spayed Female', 'Neutered Male', 'Unknown', 'Intact Female',
       'Intact Male', nan], dtype=object)

In [32]:
# Dropping 1 null value

animals.dropna(subset = ["Sex upon Outcome"], inplace = True)

# animals["Sex upon Outcome"].isnull().sum()

In [33]:
animals["Sex upon Outcome"].value_counts()

Neutered Male    29836
Spayed Female    27001
Intact Male      10292
Intact Female     9897
Unknown           7207
Name: Sex upon Outcome, dtype: int64

In [52]:
mask = (animals["Sex upon Outcome"] == "Unknown") & (animals["Animal Type"] == "Other")
animals[mask];

***Age Upon Outcome***

In [35]:
# Creating a new column subtracting Date of Birth and Time of Outcome to get a time in days 
# (then will drop Age Outcome)

animals["Age Outcome"] = animals["Time of Outcome"] - animals["Date of Birth"]

animals.drop(columns = "Age upon Outcome", axis = 1, inplace = True)

In [36]:
animals.head()

,Time of Outcome,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Breed,Color,Age Outcome
0,2017-01-11 18:17:00,2016-03-07,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Calico,310 days 18:17:00
1,2016-11-13 13:38:00,2011-07-14,Return to Owner,NaN,Dog,Neutered Male,Border Terrier Mix,Tan,1949 days 13:38:00
2,2016-02-24 14:42:00,2014-02-24,Euthanasia,Suffering,Other,Unknown,Raccoon Mix,Black/Gray,730 days 14:42:00
3,2017-04-07 11:58:00,2016-04-06,Return to Owner,NaN,Dog,Intact Female,Labrador Retriever/Jack Russell Terrier,Yellow,366 days 11:58:00
4,2017-05-24 18:36:00,2017-04-08,Transfer,Partner,Dog,Intact Male,Labrador Retriever Mix,Black,46 days 18:36:00

***Breed***

In [37]:
animals["Breed"].nunique()

2223

In [38]:
animals["Breed"].value_counts()

Domestic Shorthair Mix                      24843
Pit Bull Mix                                 6627
Labrador Retriever Mix                       5103
Chihuahua Shorthair Mix                      5099
Domestic Medium Hair Mix                     2475
German Shepherd Mix                          2057
Bat Mix                                      1454
Domestic Longhair Mix                        1305
Australian Cattle Dog Mix                    1135
Siamese Mix                                  1031
Bat                                           849
Dachshund Mix                                 846
Boxer Mix                                     715
Border Collie Mix                             698
Miniature Poodle Mix                          682
Catahoula Mix                                 501
Australian Shepherd Mix                       493
Rat Terrier Mix                               485
Raccoon Mix                                   482
Yorkshire Terrier Mix                         479
Siberian Husky Mix                            467
Jack Russell Terrier Mix                      454
Miniature Schnauzer Mix                       424
Staffordshire Mix                             417
Beagle Mix                                    414
Domestic Shorthair                            404
Chihuahua Longhair Mix                        386
Great Pyrenees Mix                            365
Cairn Terrier Mix                             357
Pointer Mix                                   357
                                            ...
Standard Schnauzer/Toy Poodle                   1
Jack Russell Terrier/Standard Schnauzer         1
Domestic Shorthair/Manx                         1
Dachshund/Australian Kelpie                     1
Boxer/Dogue De Bordeaux                         1
Border Terrier/Affenpinscher                    1
Papillon/Pomeranian                             1
Rat Terrier/Queensland Heeler                   1
Pit Bull/Jindo                                  1
Chihuahua Shorthair/Rhod Ridgeback              1
Boxer/Akita                                     1
Whippet/Shetland Sheepdog                       1
Norwich Terrier                                 1
Alaskan Malamute/Alaskan Husky                  1
Keeshond                                        1
Chinese Sharpei/Airedale Terrier                1
Goose Mix                                       1
Cardigan Welsh Corgi/Miniature Schnauzer        1
Basset Hound/Golden Retriever                   1
Jack Russell Terrier/Australian Shepherd        1
Miniature Poodle/American Eskimo                1
Jack Russell Terrier/Whippet                    1
Norfolk Terrier/Pug                             1
Beagle/Chihuahua Longhair                       1
Cockatiel                                       1
Dachshund/Norfolk Terrier                       1
Irish Wolfhound/Australian Shepherd             1
Australian Shepherd/Brittany                    1
Finnish Spitz/Dachshund                         1
Dachshund Longhair/Pembroke Welsh Corgi         1
Name: Breed, Length: 2223, dtype: int64

***Color***

In [42]:
animals["Color"].nunique()

539

In [47]:
# Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

animals["Black"] = animals["Color"].str.contains("Black", case=False).astype(int)

In [50]:
# add more colors, drop color column

colors = ["black", "white", "brown"]

for color in colors:
    animals[color] = animals["Color"].str.contains(color, case=False).astype(int)

In [51]:
animals.head()

,Time of Outcome,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Breed,Color,Age Outcome,Black,black,white,brown
0,2017-01-11 18:17:00,2016-03-07,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Calico,310 days 18:17:00,0,0,0,0
1,2016-11-13 13:38:00,2011-07-14,Return to Owner,NaN,Dog,Neutered Male,Border Terrier Mix,Tan,1949 days 13:38:00,0,0,0,0
2,2016-02-24 14:42:00,2014-02-24,Euthanasia,Suffering,Other,Unknown,Raccoon Mix,Black/Gray,730 days 14:42:00,1,1,0,0
3,2017-04-07 11:58:00,2016-04-06,Return to Owner,NaN,Dog,Intact Female,Labrador Retriever/Jack Russell Terrier,Yellow,366 days 11:58:00,0,0,0,0
4,2017-05-24 18:36:00,2017-04-08,Transfer,Partner,Dog,Intact Male,Labrador Retriever Mix,Black,46 days 18:36:00,1,1,0,0

In [44]:
animals["Color"].value_counts()

Black/White                    8794
Black                          7069
Brown Tabby                    4706
Brown                          3760
White                          2986
Brown/White                    2708
Tan/White                      2628
Brown Tabby/White              2476
Orange Tabby                   2324
White/Black                    2305
Blue/White                     2249
Tan                            2136
Tricolor                       2106
Black/Tan                      1914
Black/Brown                    1729
White/Brown                    1704
Brown/Black                    1453
Calico                         1430
Brown Brindle/White            1429
Tortie                         1427
Blue                           1419
White/Tan                      1264
Blue Tabby                     1206
Orange Tabby/White             1167
Red                            1091
Torbie                          889
Red/White                       884
Brown Brindle                   769
Tan/Black                       671
Chocolate/White                 635
                               ...
Tricolor/Tricolor                 1
Tricolor/Cream                    1
Tortie Point/Blue                 1
Cream/Brown Merle                 1
Tan/Cream Tabby                   1
Tricolor/Calico                   1
Blue Merle/Gray                   1
Orange/Gray                       1
White/Lilac Point                 1
Black Smoke/Black                 1
Red Tick/Black                    1
Green/Black                       1
Orange/Blue                       1
Blue Smoke/Gray                   1
Brown Tabby/Agouti                1
Black Smoke/Black Tiger           1
Tricolor/Red Tick                 1
Blue Cream/Blue Tiger             1
Yellow Brindle/Blue               1
Brown Brindle/Gray                1
Torbie/Silver Tabby               1
Cream/Cream                       1
Gray/Green                        1
Cream/Blue Point                  1
Green/Red                         1
Brown Brindle/Brown Brindle       1
Orange Tabby/Apricot              1
Black/Seal Point                  1
Orange Tiger                      1
Blue Tick/Tricolor                1
Name: Color, Length: 539, dtype: int64

In [43]:
animals["Color"].unique()

array(['Calico', 'Tan', 'Black/Gray', 'Yellow', 'Black', 'Blue/White',
       'Black Smoke', 'Orange Tabby', 'Brown Tabby/White', 'White/Brown',
       'White', 'Brown', 'Chocolate/White', 'Red', 'Brown/White',
       'Tan/White', 'Liver/White', 'Brown Brindle', 'Blue Tabby',
       'Fawn/Black', 'Black/White', 'Red/Tan', 'Cream', 'Brown Tabby',
       'Torbie/White', 'Black/Black', 'Black/Tan', 'Blue Tabby/White',
       'White/Black', 'Tortie', 'Blue', 'Flame Point', 'Tan/Black',
       'Blue/Tan', 'Tricolor', 'Brown/Black', 'Brown Brindle/White',
       'Chocolate/Tan', 'Sable', 'Red/White', 'Black Tabby', 'Pink',
       'Lilac Point', 'Brown Brindle/Black', 'Seal Point',
       'Orange Tabby/White', 'Torbie', 'Black/Tricolor', 'Gray Tabby',
       'Cream Tabby', 'White/Brown Tabby', 'Cream/Gray', 'Buff', 'Gray',
       'Black/Brown', 'Lynx Point', 'Cream Tabby/White',
       'Brown Merle/White', 'Fawn/White', 'Chocolate',
       'White/Brown Brindle', 'Fawn', 'Black/Cream', 'White/Blue',
       'Blue Merle/White', 'Tricolor/Brown Brindle', 'Apricot',
       'Black Smoke/Gray', 'Gray Tabby/White', 'White/Red',
       'Tricolor/Black', 'Gray/Black', 'White/Tan', 'White/Orange',
       'White/Tricolor', 'Black Brindle/White', 'Brown Merle',
       'Red/Brown', 'Lynx Point/White', 'Gray/Brown', 'White/Gray',
       'Calico/White', 'Blue/Black', 'Brown/Gray', 'Tan/Red',
       'White/White', 'Red Tick', 'Red/Cream', 'Tricolor/Brown',
       'Silver Tabby', 'Brown Tabby/Black', 'Tortie Point',
       'Yellow/White', 'Blue/Brown', 'Orange/White', 'Blue Tick/Black',
       'Red Tick/Brown Merle', 'Red/Black', 'Silver/Blue',
       'White/Orange Tabby', 'Blue Point', 'Calico/Orange',
       'Black/Blue Merle', 'Red Merle/White', 'White/Buff',
       'White/Chocolate', 'Silver/Brown', 'Tan/Silver', 'Brown/Tan',
       'Brown/Blue Merle', 'Buff/Tan', 'Orange Tabby/Cream',
       'Calico Point', 'Black/Brown Brindle', 'Gold', 'Sable/White',
       'Fawn/Brown', 'Gray/White', 'Brown/Tricolor', 'Tan/Gray',
       'Tortie/White', 'Red Merle', 'Yellow Brindle', 'Cream/White',
       'Blue Merle', 'Brown/Buff', 'Red/Red', 'Black/Silver',
       'Blue Merle/Tan', 'Buff/White', 'Black Smoke/White',
       'White/Yellow Brindle', 'Chocolate Point', 'Black Brindle',
       'Black/Red', 'Orange', 'White/Blue Tabby', 'Gray/Tan',
       'Blue Tiger/White', 'Gray/Tortie', 'Gold/Gray', 'Blue Merle/Brown',
       'White/Cream', 'Cream/Tan', 'Red/Red Tick', 'White/Gray Tabby',
       'Calico/Blue Cream', 'Tan/Brown', 'Gray/Gray Tabby', 'White/Gold',
       'Brown Tabby/Brown', 'Blue Tick/Brown', 'White/Seal Point',
       'Tortie/Calico', 'Black/Orange', 'Gray/Tricolor',
       'Seal Point/White', 'Tortie/Black', 'Silver/Tan', 'Blue/Orange',
       'Buff/Cream', 'Blue Cream', 'Yellow Brindle/White', 'Blue/Blue',
       'Gray Tabby/Black', 'Green', 'Blue Tick', 'Red Tick/White',
       'Gold/Brown', 'White/Black Brindle', 'Black Tabby/White',
       'Blue/Tricolor', 'Brown Brindle/Red Tick', 'Gold/Gold',
       'White/Yellow', 'White/Liver', 'Calico/Black', 'Gray/Orange',
       'Brown/Brown', 'White/Black Smoke', 'Flame Point/Cream',
       'Red Tick/Brown', 'Silver Tabby/White', 'Blue Tick/Red',
       'Green/Yellow', 'Gray/Blue', 'Yellow/Tan', 'Blue Tabby/Black',
       'Brown Tabby/Cream', 'Black/Chocolate', 'Blue Smoke/White',
       'Tortie/Blue Cream', 'Buff/Black', 'Black Brindle/Brown',
       'Tricolor/Gray', 'Blue/Gray', 'Buff/Gray', 'White/Red Merle',
       'Tricolor/Tan', 'Lilac Point/White', 'White/Brown Merle',
       'Orange Tabby/Orange', 'Yellow/Black', 'Tortie Point/White',
       'Chocolate/Cream', 'Blue/Silver', 'Brown/Cream', 'Fawn/Blue',
       'Silver', 'Tan/Buff', 'Brown/Yellow', 'Tan/Cream Tabby',
       'Gold/White', 'White/Green', 'Calico/Tricolor', 'Blue Tabby/Cream',
       'Sable/Red', 'Black/Yellow', 'Tortie Point/Lynx Point',
       'Red Tick/Tan', 'Buff/Red', 'Cream/Silver', 'Silver/White',
       'Brown Brindle/Brown Brindle', 'Gold/Cream', 'White/Lynx Point',
       'White/Cream Tabby', 'Brown/Chocolate', 'Black/Black Brindle',
       'Brown Tiger/White', 'Brown/Green', 'Torbie/Blue Tabby',
       'Brown Brindle/Tan', 'Silver Lynx Point', 'Agouti/White',
       'Chocolate/Brown', 'Blue Merle/Blue Merle', 'Cream/Red Tick',
       'Gray/Gray', 'Apricot/White', 'Gray/Cream', 'Sable/Tan',
       'Sable/Cream', 'Tan/Cream', 'Cream/Orange',
       'Silver Lynx Point/Gray', 'Chocolate/Black Smoke',
       'Fawn/Brown Brindle', 'Brown Tabby/Gray', 'Silver/Chocolate',
       'Brown/Brown Brindle', 'Apricot/Brown', 'Blue Tick/Tan',
       'Black Brindle/Black', 'Tricolor/Blue', 'White/Apricot',
       'Liver/Tan', 'Orange/Tan', 'Tan/Tricolor', 'Sable/Black',
       'Green/Blue', 'Brown/Pink', 'Brown/Red', 'Gray/Red', 'Cream/Black',
       'Blue/Brown Brindle', 'White/Blue Cream', 'Blue Merle/Black',
       'Black/Blue Tick', 'Black/Pink', 'Brown/Black Tabby', 'Red/Buff',
       'Orange/Brown', 'Calico/Blue Tabby', 'Liver', 'Sable/Brown',
       'Brown Merle/Tan', 'Gray Tabby/Gray', 'Red/Gray', 'Green/Brown',
       'Tricolor/White', 'Red/Silver', 'Gray/Yellow', 'Tortie/Orange',
       'Blue Tick/Red Tick', 'Black Tiger/White', 'Brown/Silver',
       'White/Calico', 'Blue Merle/Tricolor', 'Cream/Red',
       'Red Tick/Blue Tick', 'Yellow/Brown', 'Tan/Tan', 'Blue Tiger',
       'Silver/Gray', 'Torbie/Silver Tabby', 'Torbie/Blue Cream',
       'Calico/Brown Tabby', 'Brown Tabby/Orange', 'Blue Tabby/Orange',
       'Brown Tiger', 'Blue/Cream', 'White/Calico Point',
       'White/Blue Merle', 'Chocolate Point/White',
       'Orange Tabby/Apricot', 'Cream/Blue Point', 'Black/Blue',
       'Silver/Black', 'White/Silver', 'White/Red Tick', 'Gray/Pink',
       'Black/Buff', 'Orange/Blue', 'Black/Gray Tabby', 'Tan/Yellow',
       'Tricolor/Chocolate', 'Black/Seal Point', 'Torbie/Brown',
       'Chocolate/Red', 'Tortie Point/Blue', 'Orange Tabby/Black',
       'Chocolate/Tricolor', 'Blue Tick/White', 'Blue/Green',
       'Brown Tiger/Brown', 'Blue Point/White', 'Black/Yellow Brindle',
       'Black Tiger', 'Chocolate/Yellow', 'Lynx Point/Brown Tabby',
       'Blue Merle/Brown Brindle', 'Calico Point/White', 'Tan/Blue',
       'Buff/Brown', 'Liver Tick', 'Blue Tabby/Tan', 'Fawn/Tan',
       'Red/Red Merle', 'Cream Tabby/Orange', 'Blue Cream/Buff',
       'Seal Point/Gray', 'Calico/Calico', 'Yellow/Yellow',
       'White/Chocolate Point', 'Blue Smoke/Brown', 'Yellow/Orange Tabby',
       'Calico/Gray Tabby', 'Gray Tabby/Orange', 'Ruddy/Cream',
       'Brown Tabby/Orange Tabby', 'Tricolor/Blue Merle',
       'White/Blue Tick', 'Brown Merle/Brown', 'Brown/Red Tick',
       'Chocolate/Brown Brindle', 'White/Black Tabby',
       'Brown Merle/Black', 'Gray/Buff', 'Green/White',
       'Tortie/Black Smoke', 'Gold/Buff', 'Brown Tabby/Agouti',
       'Sable/Buff', 'Tricolor/Calico', 'Chocolate/Gold', 'Tortie/Brown',
       'Brown/Black Brindle', 'Chocolate/Red Tick', 'Blue Tick/Tricolor',
       'Tricolor/Cream', 'Red Tick/Red', 'Tan/Gold', 'Cream/Seal Point',
       'Black/Brown Tabby', 'Calico/Brown', 'Cream/Brown',
       'Brown Tabby/Tortie', 'Flame Point/White', 'Brown Tabby/Blue',
       'Blue Cream/White', 'Red Tick/Brown Brindle', 'Brown/Apricot',
       'Blue Tick/Brown Brindle', 'Liver Tick/White',
       'Yellow Brindle/Blue', 'Blue Smoke', 'Blue Tabby/Buff',
       'Black Tabby/Gray Tabby', 'Fawn/Tricolor', 'Agouti',
       'Orange/Black', 'Brown/Brown Tabby', 'Green/Orange',
       'Orange Tabby/Tortie Point', 'Liver/Chocolate', 'White/Pink',
       'Apricot/Tricolor', 'Red Merle/Red Merle', 'Cream/Brown Merle',
       'Sable/Red Merle', 'Silver Tabby/Black', 'Red Merle/Tan',
       'Tan/Brown Brindle', 'White/Fawn', 'Brown Brindle/Blue',
       'Black Brindle/Brown Brindle', 'Black/Silver Tabby',
       'Cream/Yellow', 'Tan/Red Tick', 'Tortie/Blue',
       'Blue Cream/Blue Tabby', 'Tricolor/Silver', 'Silver/Red',
       'Cream Tabby/Orange Tabby', 'Yellow/Cream', 'Silver/Cream',
       'Blue Merle/Gray', 'Gold/Black', 'White/Liver Tick',
       'Chocolate/Black', 'Red/Yellow', 'Brown Brindle/Blue Tick',
       'Gold/Tan', 'Red Tick/Black', 'Lynx Point/Gray Tabby',
       'Brown/Orange', 'Blue Tabby/Blue Cream', 'Chocolate/Brown Merle',
       'Chocolate/Chocolate', 'Red/Gold', 'Black/Black Smoke',
       'Chocolate/Brown Tabby', 'Sable/Gray', 'Calico/Orange Tabby',
       'White/Gray Tiger', 'Brown Brindle/Brown', 'Red Merle/Black',
       'Blue/Yellow Brindle', 'Red Merle/Brown Merle', 'Black/Tortie',
       'Tan/Yellow Brindle', 'Chocolate/Liver Tick', 'Blue/Calico',
       'Torbie/Gray', 'Red/Blue', 'Blue Cream/Tortie',
       'Tricolor/Blue Tick', 'Seal Point/Brown', 'Blue Point/Cream',
       'Lynx Point/Blue', 'Brown/Blue', 'Brown Tabby/Brown Tabby',
       'Blue Cream/Blue Tiger', 'Blue Merle/Red', 'Green/Gray',
       'White/Tortie', 'Tan/Brown Merle', 'Tortie/Blue Tabby',
       'Buff/Yellow', 'Orange Tiger', 'Black Brindle/Blue',
       'Black Tabby/Gray', 'Blue/Yellow', 'Calico Point/Gray',
       'Torbie/Brown Tabby', 'Lilac Point/Cream', 'Black Smoke/Brown',
       'Brown Brindle/Brown Merle', 'Gold/Yellow', 'Gray/Fawn',
       'Black Smoke/Blue Tick', 'Cream/Cream', 'Tricolor/Brown Merle',
       'Agouti/Brown Tabby', 'Gray/Gold', 'Black Tabby/Orange',
       'Orange Tabby/Brown', 'Orange Tabby/Orange Tabby',
       'Blue Merle/Cream', 'Tortie/Tortie', 'Torbie/Black',
       'Chocolate/Gray', 'Blue/Tortie', 'Gray/Silver',
       'Black/Black Tabby', 'Tricolor/Red Tick', 'Silver/Orange',
       'Yellow/Orange', 'Seal Point/Cream', 'Chocolate Point/Cream',
       'Lynx Point/Tan', 'Torbie/Calico', 'Fawn/Chocolate', 'Black/Green',
       'Brown Merle/Blue Merle', 'Red/Tricolor', 'Brown Tabby/Gray Tabby',
       'Orange/Orange Tabby', 'Cream Tabby/Cream Tabby',
       'Black Smoke/Brown Tabby', 'Liver/Buff', 'Liver/Cream',
       'Silver Lynx Point/White', 'Tricolor/Tricolor',
       'Black/Brown Merle', 'Yellow/Gray', 'Black/Gold', 'Red/Green',
       'Brown Merle/Brown Tabby', 'Green/Red', 'Brown Brindle/Blue Cream',
       'Fawn/Gray', 'Blue Smoke/Gray', 'Lynx Point/Tortie Point',
       'Orange/Gray', 'Black Tabby/Black', 'White/Black Tiger',
       'Black Smoke/Black Tiger', 'Liver/Brown Brindle',
       'Blue Merle/Red Merle', 'Tan/Fawn', 'Brown/Red Merle',
       'White/Silver Tabby', 'Green/Black', 'Brown/Brown Merle',
       'Black Brindle/Blue Tick', 'Brown Brindle/Gray', 'Agouti/Gray',
       'Black Smoke/Black', 'Brown Tabby/Black Brindle',
       'White/Brown Tiger', 'Tan/Apricot', 'Tricolor/Orange',
       'Seal Point/Buff', 'White/Lilac Point', 'White/Flame Point',
       'Gray/Green', 'Lilac Point/Black'], dtype=object)

In [41]:
# mask = animals["Animal Type"] == "Dog"

# animals[mask]["Color"].value_counts()