In [1]:
import pandas as pd

In [3]:
animals = pd.read_csv("Austin_Animal_Center_Outcomes.csv")

In [4]:
animals.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,A746650,Rose,04/07/2017 11:58:00 AM,04/07/2017 11:58:00 AM,04/06/2016,Return to Owner,NaN,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,A750122,Happy Camper,05/24/2017 06:36:00 PM,05/24/2017 06:36:00 PM,04/08/2017,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black

In [5]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84246 entries, 0 to 84245
Data columns (total 12 columns):
Animal ID           84246 non-null object
Name                58329 non-null object
DateTime            84246 non-null object
MonthYear           84246 non-null object
Date of Birth       84246 non-null object
Outcome Type        84234 non-null object
Outcome Subtype     38552 non-null object
Animal Type         84246 non-null object
Sex upon Outcome    84243 non-null object
Age upon Outcome    84239 non-null object
Breed               84246 non-null object
Color               84246 non-null object
dtypes: object(12)
memory usage: 7.7+ MB

In [11]:
animals.isnull().sum()

Animal ID               0
Name                25917
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type           12
Outcome Subtype     45694
Animal Type             0
Sex upon Outcome        3
Age upon Outcome        7
Breed                   0
Color                   0
dtype: int64

Animal ID: likely will drop column

Name: we have plenty of null Name (drop column? replace with no_name as a placeholder? requires cleaning regardless)

DateTime: object type, will convert to DateTime and likely split out and dummy date/month/year variables

MonthYear: exactly the same as DateTime, will drop column

Date of Birth:

Outcome Type:

Outcome Subtype:

Animal Type:

Sex upon Outcome:

Age upon Outcome:

Breed:

Color:

In [12]:
# Outcome Type: target for modeling (what we are attempting to predict)

animals["Outcome Type"].unique()

array(['Adoption', 'Return to Owner', 'Euthanasia', 'Transfer',
       'Rto-Adopt', 'Died', 'Disposal', 'Missing', 'Relocate', nan],
      dtype=object)